<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Water Temperature</th>
      <th>Turbidity</th>
      <th>Wave Height</th>
      <th>Wave Period</th>
      <th>Battery Life</th>
    </tr>
    <tr>
      <th>Beach Name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>63rd Street Beach</th>
      <td>18.100857</td>
      <td>0.931039</td>
      <td>0.168307</td>
      <td>4.023555</td>
      <td>11.417773</td>
    </tr>
    <tr>
      <th>Calumet Beach</th>
      <td>20.231109</td>
      <td>1.530714</td>
      <td>0.124169</td>
      <td>3.537594</td>
      <td>11.014145</td>
    </tr>
    <tr>
      <th>Montrose Beach</th>
      <td>18.598113</td>
      <td>4.331509</td>
      <td>0.198663</td>
      <td>4.158580</td>
      <td>11.109973</td>
    </tr>
    <tr>
      <th>Ohio Street Beach</th>
      <td>19.843934</td>
      <td>27.261583</td>
      <td>0.153871</td>
      <td>3.604094</td>
      <td>10.820569</td>
    </tr>
    <tr>
      <th>Osterman Beach</th>
      <td>19.120896</td>
      <td>4.127441</td>
      <td>0.179694</td>
      <td>3.971255</td>
      <td>11.170813</td>
    </tr>
    <tr>
      <th>Rainbow Beach</th>
      <td>16.819379</td>
      <td>1.097441</td>
      <td>0.170514</td>
      <td>4.100642</td>
      <td>11.148394</td>
    </tr>
  </tbody>
</table>